<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/recipe-1/">Risotto al limone</a></li>
    <li><a href="/recipe-2/">Risotto alla milanese</a></li>
    <li><a href="/recipe-3/">Risotto alla zucca</a></li>
  </ul>
</nav>