<nav>
  <ul>
    <li><a href="/"class="{% if page.url == '/' %}active-page{% endif %}">Home</a></li>
    <li><a href="/about/"class="{% if page.url == '/about/' %}active-page{% endif %}">About</a></li>
    <li><a href="/recipes/recipe-1/"class="{% if page.url == '/recipe-1/' %}active-page{% endif %}">Risotto al limone</a></li>
    <li><a href="/recipes/recipe-2/"class="{% if page.url == '/recipe-2/' %}active-page{% endif %}">Risotto alla milanese</a></li>
    <li><a href="/recipes/recipe-3/"class="{% if page.url == '/recipe-3/' %}active-page{% endif %}">Risotto alla zucca</a></li>
  </ul>
</nav>

